.checkBoxSize{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.btnAddResearch{
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    background-color: darkgreen;
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.table {
    width: 100%;
}
table{
    border: 1px solid #c4d7f8;
    border-collapse: collapse;
}
tr,th,td{
    border: 1px solid #658f9d;
    padding: 0.5rem;
}
.covidCheck{
    font-weight: 800;
    font-size: 30px;
    color: #ff92a4;
    text-align: center;
}
.divSex{
    display: flex;
}