.tableDiv{
    /*border: 1px solid aliceblue;*/
}
table {
    width: 100%;
}
table{
    border: 1px solid #c4d7f8;
    border-collapse: collapse;

}
tr,th,td{
    border: 1px solid #658f9d;
    padding: 0.5rem;
}
