.filters{
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
}

.filterBox{
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0 0 0;

}
.filterBox input{
    cursor: pointer;
}

.allFilters {
    display: flex;
    flex-direction: column;
}